.start-game {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .choose-pseudonyme {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__label {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      font-size: 2rem;
      color: $brandPrimary;

      .max-characters {
        padding-top: 0.5rem;
        font-size: 1rem;
      }
    }
    &__input {
      padding: 0.5rem 1rem;
      border: 2px solid $brandPrimary;
      color: $brandPrimary;
      background-color: $backgroundColor;
      outline: none;
      font-size: 2rem;
    }
  }

  .start-button {
    cursor: pointer;
    border: 2px solid $brandPrimary;
    background-color: $backgroundColor;
    font-size: 2rem;
    color: $brandPrimary;
    padding: 0.5rem 1rem;

    &:hover,
    &:focus {
      border-color: $brandSecondary;
      color: $brandSecondary;
    }

    &:disabled {
      cursor: not-allowed;
      border-color: gray;
      color: gray;
    }
  }
}
