@mixin anim($name, $dur, $iterate) {
  animation-name: $name;
  animation-duration: $dur;
  animation-iteration-count: $iterate;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;

  &__game-over {
    font-size: 8rem;
    text-align: center;
    @include anim(example, 1s, infinite);
  }

  &__score {
    font-size: 2rem;
    @include anim(example, 1s, infinite);
  }
}

@keyframes example {
  0% {
    color: $brandSecondary;
    text-shadow: 0 0 20px $brandPrimary;
  }
  25% {
    color: $brandPrimary;
    text-shadow: 2px 2px 2px $brandSecondary;
    transform: translate(-2px, 1px);
  }
  40% {
    color: $brandSecondary;
    text-shadow: none;
    transform: translate(0, 0);
  }
  50% {
    color: $brandPrimary;
    text-shadow: 5px 5px 2px $brandPrimary, -5px -5px 2px $brandSecondary;
    transform: translate(0px, 5px);
  }
  70% {
    color: $brandSecondary;
    text-shadow: none;
    transform: translate(0, 0);
  }
  80% {
    color: $brandSecondary;
    text-shadow: 0 0 20px $brandPrimary;
    transform: translate(-2px, 1px);
  }
  100% {
    color: $brandSecondary;
    text-shadow: none;
  }
}
