.mobile-not-supported {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $backgroundColor;
  color: $brandPrimary;
  font-size: 2rem;

  > div {
    text-align: center;
  }
}
