@import "./Designs/designs";

.cant-touch-this {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $backgroundColor;

  .number-of-players {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .start-button {
    padding: 1rem;
  }

  .stop-replay {
    margin-top: 1rem;
  }

  &__canvas-container {
    canvas {
      background-color: black;
      border: 2px solid $brandPrimary;
    }
  }

  .game-over {
    margin-bottom: 2rem;
  }

  &__score {
    font-size: 2rem;
    color: $brandPrimary;
    margin-bottom: 1rem;
  }

  .health-bar {
    margin-bottom: 0.5rem;
  }
}
