.score-board {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: $brandPrimary;
  margin-bottom: 2rem;
  width: 30rem;

  &__title {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__alpha-disclaimer {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .score-board-table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;

    thead {
      color: $brandPrimary;
    }

    th,
    td {
      border: 1px solid $brandPrimary;
      text-align: center;
      padding: 0.25rem;
    }

    .score-board-table-row {
      &__replay {
        padding-top: 0.4rem;
        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
